/* index.html Styling*/
html#Landing {
 background-color: rgb(18, 124, 211);
}

.landing{
 color: black;
 font-family: cursive;
 text-align: center;
}

.subhead {
 color: black;
 font-family: N/A;
 text-align: center;
}

.link1 {
 color: white;
}

.link2 {
 color: white;
}

.link3 {
 color: white;
}

.ul1 {
 text-align: center;
 color: white;
}

ul {
 display: inline-block;
 text-align: left;
}



/* index1.html Styling*/
html#m1 {
 background-color: black;
}

.head1 {
 color: white;
 font-family: cursive;
 text-align: center;
}

.img1 {
 border: 5px solid white;
}

.imgc1 {
 text-align: center;
}

.quote1 {
 text-align: center;
 color: white;
}



/* index2.html Styling*/
html#m2 {
 background-color: black;
}

.head2 {
 color: white;
 font-family: cursive;
 text-align: center;
}

.img2 {
 border: 5px solid white;
}

.imgc2 {
 text-align: center;
}

.quote2 {
 text-align: center;
 color: white;
}



/* index3.html Styling*/
html#m3 {
 background-color: black;
}

.head3 {
 color: white;
 font-family: cursive;
 text-align: center;
}

.img3 {
 display: block;
 margin: auto;
 border: 5px solid white;
}

.imgc3 {
 text-align: center;
}

.quote3 {
 text-align: center;
 color: white;
}